/* css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

    font-family: 'Poppins', sans-serif;

}

.menuname {

    text-align: center;

}

.icon-menu {

    width: 20px;
    /* Tamanho do ícone */
    height: 20px;
    /* Tamanho do ícone */
    margin-right: 10px;
    /* Espaço entre o ícone e o texto */
    filter: invert(1);
}


.sidebar {

    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 18px 18px 0px;
}

.side-items {

    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {

    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item i {
    margin-right: 10px;

}

.d-none {
    display: none !important;
}